@model OTPValidation
@{
    ViewData["Title"] = "Validate Token";
}

     <div class="container-fluid">
               <div class="row">
                     <div class="col-sm-12 col-lg-6">
          
                     <div class="iq-card">
                                 <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                       <h4 class="card-title">Validate Token</h4>
                                    </div>
                                 </div>
                                 <div class="iq-card-body">
                                    <form  method="post" action="ValidateRequest"> 
                                        @Html.HiddenFor(x=>x.CardId)
                                           @Html.HiddenFor(x=>x.CustomerId)
                                           
                                       <div class=" row align-items-center">
                                          <div class="form-group col-sm-9">
                                             <label for="fname">Token:</label>
                                             <input type="text" class="form-control" id="Title" value="@Model.OTP" required name="OTP">
                                          </div>
                                         
                                      
                                     
                                       </div>
                                       <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                       <button type="reset" class="btn iq-bg-danger">Cancel</button>
                                    </form>
                                 </div>
                              </div>
                     </div>
                  
                  </div>
             
               </div>
            